KNOWN_FACES_DIR=data/known_faces
UNKNOWN_FACES_DIR=data/unknown_faces
LOGS_DIR=data/logs
CAMERA_INDEX=0

RECOGNITION_MODEL=Facenet
DISTANCE_METRIC=cosine
RECOGNITION_THRESHOLD=0.60
ENFORCE_DETECTION=false
REQUIRE_FACE_DETECTION=true
REBUILD_FACE_CACHE=false

SAVE_UNKNOWN_EVIDENCE=true
SHOW_CAMERA_WINDOW=true

RECOGNITION_INTERVAL_SECONDS=4.0
UNKNOWN_EVIDENCE_COOLDOWN_SECONDS=5.0
USE_RECOGNITION_PROCESS=true

FRAME_WIDTH=640
FRAME_HEIGHT=480
MAX_RECOGNITION_IMAGE_WIDTH=320

TF_NUM_INTRAOP_THREADS=0
TF_NUM_INTEROP_THREADS=0
OMP_NUM_THREADS=4